.containerUser {
   background-image: url("./img/backgroundUserPage.jpg");
   height: 100vh;
   background-size: cover;
   padding-top: 100px;
}

.userBlock {
   display: inline-block;
   background: rgba(218, 212, 212, 0.459);
   border-radius: 35px;
   padding: 5px;
   border: 5px solid rgb(12, 88, 88);
}

#genderImgUser {
   margin-top: 25px;
   width: 150px;
   height: 150px;
   background-color: rgb(12, 88, 88);
   border-radius: 35%;
}